<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396373349478-ehr3hgnnp7u5jsjn1te0va6mv5ojrsni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396373349478-ehr3hgnnp7u5jsjn1te0va6mv5ojrsni</string>
	<key>API_KEY</key>
	<string>AIzaSyAYg6DHtFuDTJMb5L3Vy5yFFL1Rfu9LtrI</string>
	<key>GCM_SENDER_ID</key>
	<string>396373349478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bartoszbielas.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait09763</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait09763.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396373349478:ios:e219aa5d44fa85478dc9a7</string>
</dict>
</plist>